.product-teaser-small{
    padding: 50px;
}
.product-teaser-small-bg,.credentials-sub{
    background-color: #f7f7f7;
}
.credentials-sub{
    text-align: left;
    padding-left: 1px;
}
.PT-padding{
    padding: 30px;
}
.mobile-teaser-custom {
    display: none;
}
.PT-padding-button{
    width: 100%;
    height: 35px;
}
.recomanded-head {
padding: 0px 10px 0px 33px;
}
.shop-products {
    text-align: right;
    padding-right: 68px;
}
.credentials {
    background-color: white;
    height: 250px !important;
    width: 100%;
} 
.PT-credentials-sub-img{
    position: absolute;
    right: 423px;
}
.credentials-sub>h1{
    font-weight: bold;
    font-size: 14px;
    color: #2E2E22;
}
.credentials-sub-text{
    font-size: 12px;
}
.credentials-sub-price{
    font-size: 12px;
    font-weight: 'Medium';
}
.product-teaser-custom-bg{
    background-color: #f7f7f7 !important;
    background-image: url('../IMAGES/annie-spratt-hX_hf2lPpUU-unsplash.png');
}
.product-teaser-cart-svg{
    width: 29px;
    height: 12px;
    padding-right: 10px;
}
.offfer-button{
    float: left;
    width: 58px;
    margin: 8px;
    height: 28px;
    color: #354E57;
}
.product-teaser-scroll__item-rec{
    display: none;
}
.offfer-button-off{
    float: left;
    width: 58px;
    font-size: 12px;
    margin: 8px;
    height: 28px;
    color: #A67744;
}
.credentials-hover-Acne{
    height: 250px !important;
    width: 251px;
    background-image: url('../IMAGES/Cream1.png');
    background-repeat: no-repeat;
    transition: .3s;
}
.credentials-hover-Acne:hover{
    background-image: url('../IMAGES/Acne_Cream-hover_1.png');
    background-repeat: no-repeat;
}
.credentials-hover-vitiligio{
    height: 250px !important;
    width: 251px;
    background-image: url('../IMAGES/vitiligio-1.png');
    background-repeat: no-repeat;
    transition: .3s;
}
.credentials-hover-vitiligio:hover{
    background-image: url('../IMAGES/Vitiligio-Solution-hover_1.png');
    background-repeat: no-repeat;
}
.credentials-hover-ezcema{
    height: 250px !important;
    width: 251px;
    background-image: url('../IMAGES/ezcema-1.png');
    background-repeat: no-repeat;
    transition: .3s;
}
.credentials-hover-ezcema:hover{
    background-image: url('../IMAGES/Ezcema-hover_1.png');
    background-repeat: no-repeat;
}
.credentials-hover-sunburn{
    height: 250px !important;
    width: 251px;
    background-image: url('../IMAGES/suburn-hover_1.png');
    background-repeat: no-repeat;
    transition: .3s;
}
.credentials-hover-sunburn:hover{
    background-image: url('../IMAGES/sunburn-ointment-hover_1.png');
    background-repeat: no-repeat;
}
.PT-padding-button:hover{
    background-color: white;
}
.spl-color-price{
    color: #A67744;
}
.spl-color-price>del{
    color: #2E2E22;
}
.product-teaser-bg{
    background-image: url('../IMAGES/annie-spratt-hX_hf2lPpUU-unsplash@2x.png');
    height: 250px !important;
    width: 100%;
    text-align: center;
    background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
    .desktop-teaser-custom{
        display: none !important;
    }
    .product-teaser-small {
        padding: 0px;
    }
.credentials-sub {
    text-align: left;
    padding-left: 15px;
}
.recomanded-head{
    display: none;
}
.offfer-button,.offfer-button-off{
    display: none;
}
.product-teaser-scroll__item-rec{
    font-size: 14px;
}
.shop-products {
    text-align: right;
    padding-right: 88px;
}
.PT-credentials-sub-img {
    position: absolute;
    right: 445px;
    padding-top: 66px;
}
.credentials-hover-Acne{
    width: 100%;
    margin-left: 47px;
}
.PT-padding {
    padding: 0px;
}
.credentials-hover-vitiligio {
    height: 250px !important;
    width: 100%;
    text-align: center;
    background-image: url('../IMAGES/vitiligio-1.png');
    background-repeat: no-repeat;
    transition: .3s;
}
.credentials-hover-ezcema {
    height: 250px !important;
    width: 100%;
    text-align: center;
    margin-left: 31px;
    background-image: url('../IMAGES/ezcema-1.png');
    background-repeat: no-repeat;
    transition: .3s;
}
.credentials-hover-sunburn {
    height: 250px !important;
    width: 100%;
    margin-left: 44px;
    text-align: center;
    background-image: url(../IMAGES/suburn-hover_1.png);
    background-repeat: no-repeat;
    transition: .3s;
}
.PT-padding-button {
    width: 100%;
    height: 35px;
}
.PT-padding-button:hover {
    width: 100%;
}
.cart-button-hover:hover .overlay{
   opacity: 1;
}
.overlay{
    width: 110%;
}
.PT-padding-cust-mobile {
    padding: 18px;
}
.product-teaser-scroll {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}
    .horizontal-scroll::-webkit-scrollbar-y {
      display: none;
    }
    .product-teaser-scroll__item {
      align-items: center;
      display: flex;
      flex: 0 0 320px;
      font-size: 40px;
      justify-content: center;
      scroll-snap-align: start;
    }
}
@media screen and (max-width: 425px) {
    .desktop-teaser-custom{
        display: none;
    }
 .scroll-button-left{
    color: #000!important;
    background-color: #ccc!important;
    height: 1px;
    width: 48%;
    float: left;
}
.scroll-button-right{
    color: #000!important;
    background-color: #ccc!important;
    height: 1px;
    width: 48%;
}
.dspl-flex{
    display: flex;
}
    .product-teaser-small {
        padding: 0px;
    }
.credentials-sub {
    text-align: left;
    padding-left: 4px;
}
.recomanded-head{
    display: none;
}
.shop-products {
    text-align: right;
    padding-right: 88px;
}
.PT-credentials-sub-img {
    position: absolute;
    right: 445px;
    padding-top: 66px;
}
.credentials-hover-Acne{
    width: 111%;
    margin-left: -18px;
}
.PT-padding {
    padding: 0px;
}
.credentials-hover-vitiligio {
    height: 250px !important;
    width: 145%;
    background-image: url('../IMAGES/vitiligio-1.png');
    background-repeat: no-repeat;
    transition: .3s;
}
.credentials-hover-ezcema {
    height: 250px !important;
    width: 145%;
    margin-left: -31px;
    background-image: url('../IMAGES/ezcema-1.png');
    background-repeat: no-repeat;
    transition: .3s;
}
.credentials-hover-sunburn {
    height: 250px !important;
    width: 100%;
    margin-left: 2px;
    background-image: url(../IMAGES/suburn-hover_1.png);
    background-repeat: no-repeat;
    transition: .3s;
}
.PT-padding-button {
    width: 100%;
    height: 35px;
}
.PT-padding-button:hover {
    width: 100%;
}
.cart-button-hover:hover .overlay{
   opacity: 1;
}
.overlay{
    width: 110%;
}
.PT-padding-cust-mobile {
    padding: 18px;
}
}
