html,body{
    margin: 0;
    padding: 0;
    font-family: 'Proxima Nova';
}
.col{
  min-height: 32px;
}
/* OfferBanner starts */
.offerBanner{
    background: #A67744;
}
.bannercontent{
    background: #A67744;
    max-width: 1080px;
    display: flex;
    margin: 0 auto;
}
.ofrtitle{
    flex-grow: 1;overflow: hidden;
    text-align:center;
    color: #F7F5E6;
    font-size: 16px;
    width: auto;
}
/* OfferBanner Ends */
.subheader{
    /* margin-left: -248px;
    float: left;
    margin-top: 35px;  */
    font-size: 16px;
    font-family: 'Proxima Nova',m;
    color: #354E57 !important;
}
.headerfont{
  font-family: Proxima Nova,Bold;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0.6px;
    color: #354E57 !important;
}
.header {
    overflow: hidden;
    background-color: #e0e3e8;
    padding: 20px 10px;
    font-size: 12px;
  }
  openbtn:active + .header{
    background-color: #F7F7F7;
  }
  /* Style the header links */
.header a {
    float: left;
    display: block;
    color: #293D45;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    /* font-size: 18px; */
    line-height: 25px;
    border-radius: 4px;
  }
  
  .header a.logo {
    font-size: 32px;
    letter-spacing: 1.6px;
    /* font-weight: bold; */
  }
  .header .icon {
    display: none;
  }
  
  /* Float the link section to the right */
  .header-right {
    float: right;
  }
  .header-center {
   /* text-align: center; */
   margin-left: 40%;
   font-size: 32px;
   display: flex;
   /* justify-content: space-around; */
   /* width: 32rem; */
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  /* @media screen and (max-width: 500px) {
    .header a {
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  } */
  .smallheader>ul {
    list-style: none;
    color: #354E57;
  }
  /* mobile header */
  .closebtn,.openbtn{
      visibility: hidden; 
      display: none;
  }
  @media screen and (max-width: 1800px) and (min-width: 921px) {
    .custom--desktop--hide,.custom-mobile-display{
      display: none !important;
    }
  }

  @media only screen and (min-device-width: 920px) and (max-device-width: 1326px) {
    .custom-display-div{
      width:25% !important;
    }

  }
  @media only screen and (min-device-width: 320px) and (max-device-width: 920px) {
    .custPadding{
      padding-left: 10px;
    }
    .fa-bars:hover>header{
        background-color: #F7F7F7 !important;
      }
    
    .subheader{
      font-size: 24px;
    letter-spacing: 1.2px;
    font-family: 'Proxima Nova',m;
    color: #354E57 !important;
    }
    .header a.logo{
      padding-left: 0px;
      font-size: 32px;
      padding-top: 27px;
      letter-spacing: 1.6px;
      /* font-family: 'Somatic-Rounded'; */
    }
    .smallheader{
      left: 10px;
      color: #354E57 !important;
    }
    .col{
      min-height: 0px;
    }
    .first{
      margin-top: 61px;
    }
    .custom-mobile-display{
      font-size: 12px !important;
    padding-top: 85px;
    font-weight: bold;
    letter-spacing: 0.6px;
    }
    .custom--desktop--hide{
      padding-top: 27px !important;
      margin-left: 222px;
    }
  .sidebar {
    width: 0;
    z-index: -1;
    top: 15px;
    left: 249px;
    height: 100%;
    overflow-x: hidden;
  }
  .header-center {
    /* text-align: center; */
    margin-left: 0 !important;
    font-size: 32px;
    display: flex;
    justify-content: space-around;
    /* width: 32rem; */
    
   }
  .hideclass{
    display: none !important;
  }
  
  .sidebar a {
    text-decoration: none;
    font-size: 25px;
    color:#354E57;
    display: block;
  }
  
  .custom-mobile-right{
    position: absolute;
    display: flex;
    right: 0px;
    margin-right: 20px !important;
    color: #354e57;
    font-size: 12px !important;
    font-weight: bold;
  }
  
  .sidebar .closebtn {
    visibility: visible;
    position: absolute;
    top: 39px;
    /* right: 25px; */
    left: 47px;
    font-size: 36px;
    /* margin-left: 50px; */
  }
  
  .openbtn {
    float: none;
    overflow: hidden;
    display: block;
    visibility: visible;
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    color: #354E57;
    /* padding: 10px 15px; */
    border: none;
    border-radius: 5px;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    /* transition: margin-left .5s; */
    padding: 16px 0px;
  }


  @media screen and (max-height: 768px) {
    .openbtn{
      float: none;
      overflow: hidden;
      display: block;
      
    }
    .header.responsive .aem-GridColumn--phone--hide:nth-of-type(0){
      float: none !important;
      display: block !important;
      text-align: left !important;
    }
    
  }

  }