html,body{
    margin: 0;
    padding: 0;
    font-family: 'Proxima Nova';
}
.col{
  min-height: 32px;
}
/* OfferBanner starts */

.ofrtitle{
    font-size: 16px;
    color: #F7F5E6;
    width: auto;
    flex-grow: 1;
    overflow: hidden;
    text-align:center;
}
.offerBanner{
  background: #A67744;
}
.bannercontent{
  max-width: 1080px;
  background: #A67744;
  display: flex;
  margin: 0 auto;
}
/* OfferBanner Ends */
.subheader{
    font-size: 16px;
    font-family: 'Proxima Nova',m;
    color: #354E57 !important;
}
.headerfont{
  font-family: Proxima Nova,Bold;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0.6px;
    color: #354E57 !important;
}
.header {
    overflow: hidden;
    background-color: #e0e3e8;
    padding: 20px 10px;
    font-size: 12px;
  }
  openbtn:active + .header{
    background-color: #F7F7F7;
  }
  /* Style the header links */
.header a {
    float: left;
    display: block;
    color: #293D45;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    line-height: 25px;
    border-radius: 4px;
  }
  .search-svg{
      float: left;
      display: block;
      color: #293D45;
      text-align: center;
      width: 12px;
      padding: 18px;
      text-decoration: none;
      line-height: 25px;
      border-radius: 4px;
  }
  .header a.logo {
    font-size: 32px;
    letter-spacing: 1.6px;
  }
  .header .icon {
    display: none;
  }
  .header-right {
    float: right;
  }
  .header-center {
   margin-left: 40%;
   font-size: 32px;
   display: flex;
  }
  .smallheader>ul {
    list-style: none;
    color: #354E57;
  }
  .closebtn,.openbtn{
      visibility: hidden; 
      display: none;
  }
  @media screen and (max-width: 1800px) and (min-width: 921px) {
    .custom--desktop--hide,.custom-mobile-display{
      display: none !important;
    }
  }
  @media only screen and (min-device-width: 920px) and (max-device-width: 1326px) {
    .custom-display-div{
      width:25% !important;
    }
  }
  @media only screen and (min-device-width: 320px) and (max-device-width: 920px) {
    .custPadding{
      padding-left: 10px;
    }
    .fa-bars:hover>header{
        background-color: #F7F7F7 !important;
      }
      .search-svg {
        float: left;
        display: block;
        color: #293D45;
        text-align: center;
        width: 18px;
        padding: 3px;
        text-decoration: none;
        line-height: 25px;
        border-radius: 4px;
    }
    .subheader{
      font-size: 24px;
    letter-spacing: 1.2px;
    font-family: 'Proxima Nova',m;
    color: #354E57 !important;
    }
    .header a.logo{
      padding-left: 0px;
      font-size: 32px;
      padding-top: 27px;
      letter-spacing: 1.6px;
    }
    .smallheader{
      left: 10px;
      color: #354E57 !important;
    }
    .col{
      min-height: 0px;
    }
    .first{
      margin-top: 61px;
    }
    .custom-mobile-display{
      font-size: 12px !important;
    padding-top: 85px;
    font-weight: bold;
    letter-spacing: 0.6px;
    }
    .custom--desktop--hide{
      padding-top: 27px !important;
      margin-left: 222px;
    }
  .sidebar {
    width: 0;
    z-index: -1;
    top: 15px;
    left: 249px;
    height: 100%;
    overflow-x: hidden;
  }
  .header-center {
    margin-left: 0 !important;
    font-size: 32px;
    display: flex;
    justify-content: space-around;
   }
  .hideclass{
    display: none !important;
  }
  .sidebar a {
    text-decoration: none;
    font-size: 25px;
    color:#354E57;
    display: block;
  }
  .custom-mobile-right{
    position: absolute;
    display: flex;
    right: 0px;
    margin-right: 20px !important;
    color: #354e57;
    font-size: 12px !important;
    font-weight: bold;
  }
  .sidebar .closebtn {
    visibility: visible;
    position: absolute;
    top: 39px;
    left: 47px;
    font-size: 36px;
  }
  .openbtn {
    float: none;
    overflow: hidden;
    display: block;
    visibility: visible;
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    color: #354E57;
    border: none;
    border-radius: 5px;
  }
  .openbtn:hover {
    background-color: #444;
  }
  #main {
   padding: 25px 0px;
  }
  @media screen and (max-height: 768px) {
    .openbtn{
      float: none;
      overflow: hidden;
      display: block;   
    }
    .header a.logo {
      padding-left: 0px;
      font-size: 32px;
      padding-top: 27px;
      letter-spacing: 1.6px;
  }
    .header.responsive .aem-GridColumn--phone--hide:nth-of-type(0){
      float: none !important;
      display: block !important;
      text-align: left !important;
    }
  }
  }
